body {
  font-family: 'shantell sans', cursive;
  background-color: #FFF7D4;
  text-align: center;
}

.game-container {
  background-color: #FFD95A;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  color: #333;
}

.cookie-container {
  position: relative;
}

.cookie {
  width: 180px;
  height: 180px;
  background-image: url('/image/image-from-rawpixel-id-12187842-png.png');
  background-position: center;
  background-size: auto 100%; 
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#cookie-count {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-family: 'shantell sans', cursive;

}

#click-button {
  background-color: #4C3D3D;
  color: #FFF7D4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'shantell sans', cursive;

}

#click-button:hover {
  background-color: #584848;
}
