@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Shantell+Sans:wght@300;400&display=swap");

body {
  font-family: "shantell sans", cursive;
  background-color: #fff7d4;
  text-align: center;
}

/* MOBILE */

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "fullscreen "
    "flexitemleft"
    "flexitemright";
}

.fullscreen {
  grid-area: fullscreen;
  background-color: #00a9ff;
}

.flexitemleft {
  grid-area: flexitemleft;
  background-color: #45474b;
}
.flexitemright {
  grid-area: flexitemright;
  background-color: #f4ce14;
}

@media only screen and (min-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "fullscreen fullscreen"
      "flexitemleft flexitemright";
  }

  .fullscreen {
    grid-area: fullscreen;
  }

  .flexitemleft {
    grid-area: flexitemleft;
    height: 100vh;
  }
  .flexitemright {
    grid-area: flexitemright;
  }
  .flexitemright button {
    margin-bottom: 10px;
  }

  /* .game-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } */
}

ul {
  list-style: none;
}

/*Bouton POP*/
.buttonX2 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #4c3d3d;
  background: #ffd95a;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Shantell Sans", cursive;
  font-weight: bolder;
  font-size: x-large;
  box-shadow: 5px 5px 5px;
}

.buttonX2::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-buttonX2 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-buttonX2 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttonX2::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #4c3d3d;
  background: #ffd95a;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.buttonX2:active {
  color: #4c3d3d;
  background-color: #ffd95a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Bouton Multi*/
.buttonX5 {
  cursor: pointer;
  padding: 0.6em 2em;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #ffd95a;
  border-radius: 10px;
  font-family: "Shantell Sans", cursive;
  color: #4c3d3d;
  font-weight: bolder;
  font-size: x-large;
  box-shadow: 5px 5px 5px;

  &:hover {
    // box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
    animation: burn 1000ms ease-out forwards;

    &::before {
      content: "";
      position: absolute;
      left: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }

    &::after {
      content: "";
      position: absolute;
      right: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }
  }
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    color: rgba(255, 130, 110, 1);
    background: rgba(255, 230, 110, 1);
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  80% {
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }

  100% {
    color: rgba(0, 0, 0, 1);
    background: #ffd95a;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}

.buttonX5:active {
  background-color: #ffd95a;
  transform: translateY(4px);
}

/*Bouton Auto*/
.autoClick {
  cursor: pointer;
  color: #4c3d3d;
  background-color: #ffd95a;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Shantell Sans", cursive;
  box-shadow: 5px 5px 5px;
  font-weight: bolder;
  font-size: 1.7rem;
  border-radius: 10px;
}

.autoClick:active {
  background-color: #ffd95a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.autoClick {
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.autoClick:hover,
.autoClick:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.autoClick:active {
  text-shadow: none;
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

/* NED */

.game-container {
  background-color: #ffd95a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  color: #333;
}

.cookie-container {
  position: relative;
}

.cookie {
  width: 180px;
  height: 180px;
  background-image: url("/image/image-from-rawpixel-id-12187842-png.png");
  background-position: center;
  background-size: auto 100%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#cookie-count {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-family: "shantell sans", cursive;
}

#click-button {
  background-color: #4c3d3d;
  color: #fff7d4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "shantell sans", cursive;
}

#click-button:hover {
  background-color: #584848;
}
