$primary: #f70090;
$secondary: #fcfcfc;
$h1-font-size: 5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 15pt;

// BREAKPOINT DESKTOP

//BACKGROUND REFLECT
body {
  background: linear-gradient(#f70090, #81044f, transparent);
  background-size: 200% 200%;
  position: relative;
  animation: gradientShift 10s linear infinite; /* Augmentation de la durée de l'animation */
}

@keyframes gradientShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

// LE COCHON ANIME
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  30% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  60% {
    transform: translate(5px, 0);
  }
  70% {
    transform: translate(-5px, 0);
  }
  80% {
    transform: translate(5px, 0);
  }
  90% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.zoomable-svg {
  transition: transform 0.3s; /* Durée de l'animation de zoom par défaut */
  animation: shake 20s infinite; /* Utilisation de l'animation de gigotement */
  cursor: pointer;
}

.zoomable-svg.accelerate {
  transition: transform 0.2s; /* Durée de l'animation de zoom accélérée lors du clic */
  animation: shake 0.5s infinite; /* Animation de gigotement accélérée */
}

.zoomable-svg:hover {
  transform: scale(1.2); /* Facteur de zoom au survol */
}

//LES TYPOGRAPHIES ATTENTION MB-20 H1

.custom-h1 {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  margin-bottom: -20%;
}

.custom-h3 {
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.custom-btn {
  width: 80px;
  height: 80px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.custom-btn:disabled {
  pointer-events: none;
}

.custom-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.custom-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

// Import all of Bootstrap's CSS
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/scss/bootstrap";
